.trademark {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    margin-left: 3rem;
    margin-top: 3rem;
    margin-bottom: -5rem;
}

.img-container {
    height: 100vh;
    width: auto;
}

.bee-on-flower-img {
    width: 95%;
    max-height: 90%;
}

.login-container {
    width: 95%;
    max-height: 90%;
}

.mini-container {
    width: 60%;
}

.welcome-back-container {
    width: 100%;
    max-height: 100%;
}

.title-text-container {
    margin-bottom: 2rem;
}

.get-started-text {
    color: rgb(80, 80, 80);
}

.login-btn {
    color: white;
    background-color: #3da3a3;
}

.login-btn:hover {
    color: #3da3a3;
    background-color: white;
}

.forgot-password-text {
    font-size: .8rem;
    color: #329696;
}

.no-acct-text {
    font-size: .8rem;
}